.teaStuff {
  align-items: center;
  border: 1px solid blue;
}
.teaPics {
  margin-left: auto;
	margin-right: auto;
	display: block;
}
.singleTea {
  padding: 25px;
  margin: 10px;
  border: 1px solid red;
}
